= simple_form_for @spell_list do |f|
  = f.input :title
  - for level_number in 0..9 do
    %strong Level #{a}
    = f.association :spells, as: :check_boxes, label: false, collection: Spell.by_level_and_name.level(level_number)
  = f.button :submit
