%p#notice= notice
%h1 Spells
%table
  %thead
    %tr
      %th Name
      %th Level
      %th Range
      %th School
      %th Casting time
      %th Duration
      %th Description short
      %th Description long
      %th{colspan: "3"}
  %tbody
    - @spells.by_level_and_name.each do |spell|
      %tr
        %td= spell.name
        %td= spell.level
        %td= spell.range
        %td= spell.school
        %td= spell.casting_time
        %td= spell.duration
        %td= spell.description_short
        %td= spell.description_long
        %td= link_to 'Show', spell
        %td= link_to 'Edit', edit_spell_path(spell)
        %td= link_to 'Destroy', spell, method: :delete, data: { confirm: 'Are you sure?' }
%br/
= link_to 'New Spell', new_spell_path
