<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @spell.name %>
</p>

<p>
  <strong>Level:</strong>
  <%= @spell.level %>
</p>

<p>
  <strong>Range:</strong>
  <%= @spell.range %>
</p>

<p>
  <strong>School:</strong>
  <%= @spell.school %>
</p>

<p>
  <strong>Casting time:</strong>
  <%= @spell.casting_time %>
</p>

<p>
  <strong>Duration:</strong>
  <%= @spell.duration %>
</p>

<p>
  <strong>Description short:</strong>
  <%= @spell.description_short %>
</p>

<p>
  <strong>Description long:</strong>
  <%= @spell.description_long %>
</p>

<%= link_to 'Edit', edit_spell_path(@spell) %> |
<%= link_to 'Back', spells_path %>
